@page "/"
<!--This is home page component that is only shows the HTML Elements to display for users  -->
<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>Welcome to Banking System Home Page!</h1>
</div>

<div class="home-container text-center">
    
</div>